* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
#canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
#name {
    position: absolute;
    top: calc(50% - 5rem);
    width: 100vw;
    color: white;
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
}
#links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.link {
    color: white;
    text-decoration: none;
}
